
<div class=" d-flex bg-secondary bg-gradient text-white p-2">
	<span class="navbar-brand flex-grow-1 ml-2">
		<a class="btn btn-block link-light border-white" asp-controller="Home" asp-action="Index">Home</a>
		<a class="btn btn-block link-light border-white" asp-controller="Movie" asp-action="Index">Movies</a>
		<a class="btn btn-block link-light border-white" asp-controller="MovieImage" asp-action="Index">MovieImages</a>	
	</span>
</div>